/* loginPage css */
.loge {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-display: bold;
  padding: 10px;
  margin-left: 30px;
}
.loginpage {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-display: bold;
  backface-visibility: inherit;
  font-size: 25px;
}
.login-card {
  width: 350px;
  height: 70vh;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
/* registerPage css */

.SignUp {
  margin-top: 25px;
  width: 100%;
  height: 75vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.sign-card {
  width: 400px;
  height: 60vh;
  margin-top: 25px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
  display: flex;
  top: 25px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.loged {
  border-radius: 25px;
  width: 320px;
  padding: 80px;
}
.loginbutton {
  align-content: center;
  align-items: flex;
  margin-top: 30px;
}
.regbutton {
  margin-top: 10px;
  background-color: blue;
}
.lfbutton {
  top: 30px;
  margin-top: 15px;
  align-content: flex-start;
}
.regbutton1 {
  align-content: center;
  align-items: flex;
  margin-top: 20px;
  width: 50%;
  margin-left: -55%;
}
.regbutton2 {
  align-content: center;
  align-items: flex;
  margin-top: 20px;
  width: 50%;
  margin-left: 60%;
  margin-top: -35px;
  grid-auto-flow: inherit;
}
