.Menu_Button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -10em;
}
  .appicons {
    display: flex;
    margin-left: 10em;
    margin-left: 7em;
  }
.cart {
  display: flex;
  margin-left: 30px;
}
.view {
  display: flex;
  margin-left: 30px;
}

.Search_Base {
  display: flex;
  align-items: center;
  width: 25em;
  height: 43px;
  border: 0px;
  border-radius: 5px;
  background-color: #d3d3d345;
  margin-left: 50px;
}
.searchicon {
  display: flex;
  margin-left: 20px;
}
.Search_Base:hover {
  background-color: rgba(252, 252, 252, 0.979);
  box-shadow: 10px;
}

/* .searchingbar {
  display: flex;
  justify-content: center;
  width: 37em;
  border-color: grey;
} */

/* .parent_search {
  display: flex;
  justify-content: space-between;
  width: 40em;
} */
.icons {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-left: 100px;
}

.cross {
  margin-left: -35px;
}
/* drawernavigation */
.notes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  border-radius: 400px;
  font-display: block;
}
.notes:hover {
  background-color: rgb(233, 233, 10);
}
.Reminder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  border-radius: 400px;
  font-display: block;
}
.Reminder:hover {
  background-color: rgb(233, 233, 10);
}
.labels {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  border-radius: 400px;

  font-display: block;
}
.labels:hover {
  background-color: rgb(233, 233, 10);
}
.Archive {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  border-radius: 400px;
  font-display: block;
}
.Archive:hover {
  background-color: rgb(233, 233, 10);
}

.name {
  color: green;
  display: flex;
  margin-left: 5em;
}
.pro {
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  border-radius: 400px;
}
/* createNotes CSS */
@media screen and (min-width:80px){
.card {
  width: 25em;
  margin-top: 250px;
  align-items: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 15px;
}
}

  /* .create_notes1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
    margin-left: -10em;
  } */

  .create_notes1{
    justify-content: space-between;
    margin-left: 1em;
  }

  .checkbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35em;
    margin-top: -40px;
    border-radius: 400px;
  }

.draw {
  width: 41em;
  display: flex;
  margin-top: 40;
  margin-top: -26px;
  padding: 1px;
  justify-content: space-around;
  align-items: center;
}
.imageicon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 46em;
  margin-top: -21px;
  cursor: pointer;
}

.card1 {
  width: 16em;
  height: 27vh;
  align-items: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 15px;
  margin-top: 30px;
}

.icons2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -13px;
  cursor: pointer;
  padding: 15px;
  margin-left: -18px
}
/* 
dashBoard CSS */
.getnoteicons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -20px;
  cursor: pointer;
  padding: 15px;
}
.all{
  margin-left: 10em;
  align-items: center;
  height: 20vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dialogCard{
  width: 20em;
    height: 15vh;
    align-items: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    padding: 20px;
    margin-top: -11px;
}
.dialogIcon{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  cursor: pointer;
  padding: 15px;
  width: 20em;
}
.editcard{
  margin-top: -27px;
    margin-left: 20px;
    font-weight: bold;
}
.dialog{
  margin-top: 22px;
  width: 70em;
  align-content: center;
}