/* appBar CSS  */
/* .nav{
  display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -35px;
} */
.Menu_Button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 15em;
}
.appicons {
  display: flex;
  justify-content: space-between;
  width: 10em;
  align-items: center;
}
.keep_image{
  width: 55px;
}
.Search_Base {
  display: flex;
  align-items: center;
  width: 40em;
  border-radius: 27px;
  background-color: #d3d3d345;
}
.searchicon { 
  display: flex;
  margin-left: 20px;
}
.Search_Base:hover {
  background-color: rgba(252, 252, 252, 0.979);
  box-shadow: 10px;
}
.search_main_div{
  display: flex;
  justify-content: space-around;
  width: 62em;
}
.icons {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-left: 100px;
}


  /* drawernavigation */
.notes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  border-radius: 400px;
  font-display: block;
}
.notes:hover {
  background-color: rgb(233, 233, 10);
}
.Reminder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  border-radius: 400px;
  font-display: block;
}
.Reminder:hover {
  background-color: rgb(233, 233, 10);
}
.labels {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  border-radius: 400px;

  font-display: block;
}
.labels:hover {
  background-color: rgb(233, 233, 10);
}
.Archive {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  border-radius: 400px;
  font-display: block;
}
.Archive:hover {
  background-color: rgb(233, 233, 10);
}
@media only screen and (min-width: 200px) {
.name {
  color: green;
  display: flex;
  justify-content: flex-end;
}
}
.pro {
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  border-radius: 400px;
}
/* createNotes CSS */
.card {
  width: 25em;
  margin-top: 250px;
  align-items: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 15px;
}

  .create_notes1{
    justify-content: space-between;
 
    margin-left: -67em;
  }

  .checkbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35em;
    margin-top: -40px;
    border-radius: 400px;
  }

.draw {
  width: 41em;
  display: flex;
  margin-top: 40;
  margin-top: -26px;
  padding: 1px;
  justify-content: space-around;
  align-items: center;
}
.imageicon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 46em;
  margin-top: -21px;
  cursor: pointer;
}
@media only screen and (min-width: 100px) {
.card1 {
    width: 32em;
    padding: 18px;
}
}
.icons2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -13px;
  cursor: pointer;
  padding: 15px;
  margin-left: -18px
}
/* 
dashBoard CSS */
.getnoteicons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -20px;
  cursor: pointer;
  padding: 15px;
}
.all{
  align-items: center;
    height: 20vh;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 8em;
    margin-top: 10px;
}
.dialogCard{
  width: 20em;
    height: 15vh;
    align-items: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    padding: 20px;
    margin-top: -11px;
}
.dialogIcon{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  cursor: pointer;
  padding: 15px;
  width: 20em;
}
.editcard{
  margin-top: -27px;
    margin-left: 20px;
    font-weight: bold;
}

.base{
  display: flex;
}

._notes_{
  display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
}
._notes{
  display: flex;
  justify-content: center;
}
/* -------------->Media Query for appBar<-------------------- */
